html{
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}

 .footer{
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #3f51b6;
    color: white;
    min-width: min-content;
    grid-row: 2;
    position: absolute;
    width: 100%;
}

#intro{

    font-size: 7rem; color: rgb(255, 255, 255); 
    font-family: Alice;
    background-color: rgb(238, 211, 238);

}
#webDev{
    font-size: 1.5rem; line-height: 1rem; 
    font-family: Roboto;
}