#cardBackground{

    background-color:#e6dbc9;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: none !important;
    border: none !important;
}

#about{

    color: rgb(116, 115, 115); 
    font-size: 18px;
}

#aboutMe{
     color: rgb(255, 255, 255); 
     font-size: 4rem;
}

