#project{

    color: rgb(255, 255, 255);
     font-size: 4rem;
     font-family: 'Old Standard TT', serif;
}
#cardImg{
    position: relative !important;
}
.card-body{
   
    background-color: rgb(230, 219, 201) !important;

}

.card-title{

    font-size: 27px; 
    color: rgb(140, 188, 208);
}
.card-text{
    font-size: 17px !important;
    
}
.card-footer{

    background-color: rgb(230, 219, 201);
    padding: 5px 20px;
}
.card-img-top:hover{
    transform: scale(1.17);
}