
#myName{
    font-family: 'Leckerli One', cursive;
    font-size:1.75rem;
}
#basic-navbar-nav{
   
    font-family: cursive;
    font-size: 1.25rem;
}
#container{
    background-color:#dea6af;
    height: 50vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.link:hover{
    cursor: pointer;
}