$color-white : white;
$color-light-green: rgba(92, 173, 169, 1);
$color-primary: rgb(102, 187, 118);

.nav {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;

    &__navigation {
        height: 10vh;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        display: flex;

        &__nav {
            display: inline-block;
            color: $color-white;
            margin-left: auto;
            margin-top: 1rem;
        }

        &__list {
            list-style: none;
            text-align: center;
            display: flex;

        }

        &__link {

            &:link,
            &:visited {
                font-size: 1.3rem;
                font-weight: 300;
                padding: 0 2rem;
                color: $color-white;
                text-decoration: none;
                transition: all .4s;

                span {
                    margin-right: .8rem;
                    display: inline-block;
                    color: $color-light-green;
                    font-weight: 400;
                }

            }

            &:hover,
            &:active {
                color: $color-primary;
                transform: translateX(1rem);
            }
        }

        &__item:last-child {
            border: 2px solid $color-light-green;
            border-radius: 15px;
        }

        &__logo {
            width: 7.5rem;
            height: 7.5rem;
            background-image: url('./image/triangle.png');
            background-repeat: no-repeat;
            align-self: flex-start;
            margin-top: 1rem;
        }

        &__letter {
            text-decoration: none;
            color: $color-light-green;
            font-size: 4rem;
            display: flex;
            align-self: center;
            height: 6rem;
            margin-left: 1.5rem;
            margin-top: .5rem;
        }
    }
}

@media screen and (max-width:75em) {
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;

        &__navigation {
            &__nav {
                display: flex;
            }

            &__logo {
                display: none;
            }

            &__list {
                list-style: none;
                display: flex;
                justify-content: space-around;
            }


            &__item {
                height: 4rem;
                display: flex;
                align-self: center;
            }

            &__item:first-of-type {
                display: flex;
                flex: 0 0 17%;
                padding: 0 1rem;
            }

            &__item:last-of-type {
                display: flex;
                order: 2;
                border: none;
            }

            &__link {

                &:link,
                &:visited {
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: $color-white;
                    text-decoration: none;
                    text-transform: uppercase;

                }

            }
        }
    }
}