$color-white : white;
$color-light-green:rgba(92, 173, 169, 1);
$color-primary:rgb(102, 187, 118);

.nav {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;

    &__navigation {
        height: 10vh;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;

        &__checkbox {
            display: none;
        }

        &__nav {
            display: inline-block;
            color: $color-white;
        }

        &__list {
            list-style: none;
            text-align: center;
            display: flex;
        }

        &__link {

            &:link,
            &:visited {
                display: inline-block;
                font-size: 1.3rem;
                font-weight: 300;
                padding: 1rem 2rem;
                color: $color-white;
                text-decoration: none;
                transition: all .4s;

                span {
                    margin-right: .8rem;
                    display: inline-block;
                    color: $color-light-green;
                    font-weight: 400;
                }

            }

            &:hover,
            &:active {
                color: $color-primary;
                transform: translateX(1rem);
            }
        }

        &__item:last-child {
            border: 2px solid $color-light-green;
            border-radius: 1.3rem;
        }

        &__logo {
            width: 7.5rem;
            height: 7.5rem;
            background-image: url('./image/triangle.png');
            background-repeat: no-repeat;
            align-self: flex-start;
            margin-top: 1rem;
        }

        &__letter {
            text-decoration: none;
            color: $color-light-green;
            font-size: 4rem;
            display: flex;
            align-self: center;
            height: 6rem;
            margin-left: 1.5rem;
            margin-top: .5rem;
        }
    }
}

@media screen and (max-width:1100px) {
    .nav {
        &__navigation {

            &__background {
                height: 5rem;
                width: 5rem;
                border-radius: 100px;
                position: fixed;
                top: 3rem;
                right: 3rem;
                z-index: 1000;
                // transition: transform .8s cubic-bezier(0.86, 0, 0.7, 1);
                background-image: radial-gradient($color-primary, $color-light-green);

            }

            &__button {
                background-color: $color-white;
                height: 5rem;
                width: 5rem;
                position: fixed;
                top: 3rem;
                right: 3rem;
                border-radius: 100px;
                z-index: 2000;
                box-shadow: 0 1rem 3rem rgba(#000000, .1);
                text-align: center;
                cursor: pointer;
            }

            &__nav {
                height: 30vh;
                position: fixed;
                top: 10rem;
                right: 0rem;
                z-index: 1500;
                opacity: 0;
                width: 0;
                // transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            &__list {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                list-style: none;
            }

            &__link {

                &:link,
                &:visited {
                    display: inline-block;
                    font-size: 2rem;
                    font-weight: 300;
                    padding: 1rem 2rem;
                    color: $color-white;
                    text-decoration: none;
                    text-transform: uppercase;
                    // transition: all .4s;

                    span {
                        margin-right: .8rem;
                        display: inline-block;
                        color: $color-white;
                        font-weight: 400;
                    }
                }
            }



            &__item:last-child {
                border: none;
            }

            &__checkbox:checked~&__background {
                transform: scale(7);
                border-radius: 0%;
                top: 10rem;
                right: 3rem;
                height: 100%;
            }

            &__checkbox:checked~&__nav {
                opacity: 1;
                width: 50%;
            }

            &__icon {
                position: relative;
                margin-top: 2.5rem;

                &,
                &::before,
                &::after {
                    width: 3rem;
                    height: 2px;
                    background-color: grey;
                    display: inline-block;

                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    transition: all .2s;
                }

                &::before {
                    top: -.8rem;
                }

                &::after {
                    top: .8rem;
                }
            }

            &__button:hover &__icon::before {
                top: -1rem;
            }

            &__button:hover &__icon::after {
                top: 1rem;
            }

            &__checkbox:checked+&__button &__icon {
                background-color: transparent;
            }

            &__checkbox:checked+&__button &__icon::before {
                top: 0;
                transform: rotate(135deg);
            }

            &__checkbox:checked+&__button &__icon::after {
                top: 0;
                transform: rotate(-135deg);
            }


        }
    }
}